@import 'react/theme';

.m-alphabet-letter {
  @include c-square(2em);
  border: $box__border;
  background: $box__background;
  color: $box__font;
  text-transform: uppercase;
  margin: .25em;
  transition: border-color 150ms, background-color 150ms, color 150ms;

  &:not(.is-picked) {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background: $box__background--hover;
        border: $box__border--hover;
      }
    }
  }

  &.is-picked {
    border: $box__border--disabled;
    background-color: $box__background--disabled;
    color: $box__font--disabled;
  }
}
