@import 'react/theme';

.m-topbar {
  border-bottom: $box__border;
  background: $box__background;
  color: $box__font;
  padding: $box__padding;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  flex: 0 0 auto;

  @media (min-width: 960px) {
    border-left: $box__border;
    border-right: $box__border;
  }
}
