.m-gallows {
  flex: 1 1 auto;
  display: flex;
  align-self: stretch;
  padding: 1em 0;

  @media (orientation: portrait) {
    flex: 1 1 auto;
    margin-bottom: 2em;
  }
}

.m-gallows__svg {
  width: 100%;

  &.is-firefox {
    margin: auto;

    @media (orientation: landscape) {
      height: 100%;
    }


    @media (orientation: portrait) {
      height: 100%;
      width: auto;
    }
  }

  .hangman-part {
    fill: #eee;

    &.is-complete {
      fill: #666;
    }
  }
}
