.m-gallows {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4em;
}

.hangman-part {
  fill: #eee;

  &.is-complete {
    fill: #666;
  }
}

.m-gallows__svg {
  width: 100%;
}
