.m-alphabet-letter {
  width: 2em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: solid 0.25em #421;
  background: #964b25;
  color: #fff;
  text-transform: uppercase;
  margin: .25em;
  transition: border-color 150ms, background-color 150ms, color 150ms; }
  .m-alphabet-letter:not(.is-picked) {
    cursor: pointer; }
    @media (hover: hover) {
      .m-alphabet-letter:not(.is-picked):hover {
        background: #aa552b;
        border: solid 0.25em #814120; } }
  .m-alphabet-letter.is-picked {
    border: solid 0.25em #ccc;
    background-color: #e6e6e6;
    color: #888; }
.m-alphabet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5em 1em; }
.m-gallows {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 1em 0; }
  @media (orientation: portrait) {
    .m-gallows {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      margin-bottom: 2em; } }

.m-gallows__svg {
  width: 100%; }
  .m-gallows__svg .hangman-part {
    fill: #eee; }
    .m-gallows__svg .hangman-part.is-complete {
      fill: #666; }
.c-message__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.c-message {
  border: solid 0.25em #421;
  background: #964b25;
  border-radius: .25em;
  color: #fff; }

.c-message__header {
  margin: 1em;
  text-align: center; }

.c-message__content {
  margin: 2em; }

.c-message__paragraph {
  margin: .5em 0; }

.c-message__action {
  margin: 1em;
  text-align: center; }

.c-message__button {
  background: #421;
  color: #fff;
  border-radius: .15em;
  display: inline-block;
  padding: .35em 1em;
  outline: none;
  cursor: pointer;
  border: solid 1px #421; }
  @media (hover: hover) {
    .c-message__button:hover {
      background-color: #814120; } }
.m-phrase-letter {
  width: 2.5em;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: solid 0.25em #ccc;
  background-color: #e6e6e6;
  color: #888;
  text-transform: uppercase;
  margin: .25em;
  transition: border-color 150ms, background-color 150ms, color 150ms; }
  .m-phrase-letter.is-revealed {
    border: solid 0.25em #0a0;
    background-color: #00f700;
    color: #333; }
.m-phrase-placeholder {
  width: 2.5em;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: solid .25em transparent;
  margin: .25em; }
.m-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto; }
  @media (orientation: portrait) {
    .m-phrase {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; } }
.m-summary__chances {
  width: 50%; }
.m-summary__time-spent {
  width: 50%;
  text-align: right; }
.m-topbar {
  border-bottom: solid 0.25em #421;
  background: #964b25;
  color: #fff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  @media (min-width: 960px) {
    .m-topbar {
      border-left: solid 0.25em #421;
      border-right: solid 0.25em #421; } }
html,
body,
.m-app {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-family: Verdana;
  font-size: 12px; }
  @media (min-width: 400px) {
    html {
      font-size: 14px; } }
  @media (min-width: 960px) {
    html {
      width: 960px;
      font-size: 16px;
      margin: 0 auto; } }

.m-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.m-level {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em; }
  @media (orientation: portrait) {
    .m-level {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 2em 1em; } }
