.m-person {
  height: 100%;
  position: absolute;
  left: 2vw;
  z-index: -1;
  top: 0;
}

.m-person__part {
  fill: #ddd;

  &.is-complete {
    fill: #666;
  }
}

.m-person__rope {
  fill:#999;
  stroke:#999;
  stroke-width:0.5;
}
