$box__border--color: #421;

$box__border: solid .25em $box__border--color;
$box__border--hover: solid .25em lighten($box__border--color, 15%);
$box__border--disabled: solid .25em #ccc;
$box__border--highlight: solid .25em #0a0;

$box__background: lighten($box__border--color, 20%);
$box__background--hover: lighten($box__border--color, 25%);
$box__background--disabled: lighten(#ccc, 10%);
$box__background--highlight: lighten(#0a0, 15%);

$box__font: #fff;
$box__font--disabled: #888;
$box__font--highlight: #333;

$box__padding: 1em;

$buttton__background: $box__border--color;
$buttton__background--hover: lighten($box__border--color, 15%);
$buttton__font: #fff;

$overlay__background: rgba(255, 255, 255, .5);

@mixin c-square ($size) {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
