.m-summary {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-summary__content {
  border: solid .25em #421;
  background: lighten(#421, 20%);
  color: #fff;
  text-align: center;
  padding: 1em;
}

.m-summary__item {
  margin: 1em;
}

.m-summary__restart {
  border: solid .1em #421;
  background: lighten(#421, 20%);
  border-radius: .2em;
  color: #fff;
  display: inline-block;
  padding: .25em 1em .4em;
  outline: none;
  cursor: pointer;
}
