.m-phrase-letter {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  border: solid .25em #ccc;
  background-color: lighten(#ccc, 10%);
  color: #888;
  text-transform: uppercase;
  margin: .25em;
  transition: border-color 150ms, background-color 150ms, color 150ms;

  &.is-revealed {
    border: solid .25em #3c3;
    background-color: #6f6;
    color: #333;
  }
}
