@import 'react/theme';

.c-message__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $overlay__background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-message {
  border: $box__border;
  background: $box__background;
  border-radius: .25em;
  color: $box__font;
}

.c-message__header {
  margin: 1em;
  text-align: center;
}

.c-message__content {
  margin: 2em;
}

.c-message__paragraph {
  margin: .5em 0;
}

.c-message__action {
  margin: 1em;
  text-align: center;
}

.c-message__button {
  background: $buttton__background;
  color: $box__font;
  border-radius: .15em;
  display: inline-block;
  padding: .35em 1em;
  outline: none;
  cursor: pointer;
  border: solid 1px $buttton__background;

  @media (hover: hover) {
    &:hover {
      background-color: $buttton__background--hover;
    }
  }
}
