@import 'react/theme';

.m-phrase-letter {
  @include c-square(2.5em);
  border: $box__border--disabled;
  background-color: $box__background--disabled;
  color: $box__font--disabled;
  text-transform: uppercase;
  margin: .25em;
  transition: border-color 150ms, background-color 150ms, color 150ms;

  &.is-revealed {
    border: $box__border--highlight;
    background-color: $box__background--highlight;
    color: $box__font--highlight;
  }
}
